/*
<div class="video-container">
	<iframe allow="autoplay; encrypted-media" width="560" height="315" allowfullscreen="" frameborder="0" src="https://www.youtube.com/embed/??????"></iframe>
</div>
*/

.video-container {
	height: 0;
	margin: 20pt 0;
	overflow: hidden;
	padding-bottom: 50.25%;
	padding-top: 30px;
	position: relative;
}

.video-container iframe,
.video-container object,
.video-container embed {
	height: 100%;
	left: 0;
	max-width: 100%;
	position: absolute;
	top: 0;
	width: 100%;
}

