/* select elements */
div.form-row div.form-content > select,
#responsive_payment_typecc_exp_date_MONTH,
#responsive_payment_typecc_exp_date_YEAR {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	background: white url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAICAYAAADJEc7MAAAAk0lEQVQYlYXOSw6DIBgAYe9/rX9B1PIQ4454DETATBemtTbazv5LpglhxpiBnDP/yjljzEAIM421HhHFQztSWm9RSisP7RBRWOtpSilYNyKi6HtziVNa6XuzIzdSSqEB+IWvELDDF3bDgWNciHF5Izcc6AQBat3wfkJE0XaattOIKLyfqHU77Z/gN75Dl/AT3yGAJ8/PpXikI/ZYAAAAAElFTkSuQmCC") no-repeat right 10px center;
	color: #87888f;
	padding: 0 30px 0 20px;
}

/* for IE */
select::-ms-expand {
	display: none;
}