/*
 * EN BUGFIX: If a block has no visible content its height is 0px and
 * PageBuilder's editor won't edit it. So set a min-height for components.
 */
body#en__pagebuilder .en__component {
	min-height: 2rem;
}

/* Add a note for the user using an
 * <?? class="pb-placeholder></??> element. . .
 *
 * . . .visible in Page Builder. . .
 */
body#en__pagebuilder .pb-placeholder {
	background: #f5f5f5;
	color: #999;
	font-weight: 700;
	padding: .5rem;
	text-align: center;
	width: 100%;
}

body#en__pagebuilder .pb-placeholder::before {
	content: "Text Block";
	display: block;
	font-size: 1.5rem;
}

/*. . .and not on the live page. */
body:not(#en__pagebuilder) .pb-placeholder {
	display: none;
}
